<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--宝龙目录（带\),必改-->
    <add key="BLPath" value="F:\Jobyun\Branches\JointService" />
    <!--<add key="BLPath" value="E:\TestSpace\Test-Writing\Test-Writing\bin\Debug\"/>-->
    <!--上传数据URL，必改-->
    <add key="UploadURL" value="http://192.168.10.4:8080/telemeterInfo/" /><!--http://test.bontor.cn:10082/pmms/telemeterInfo/-->


    <!--最后同步通行时间(yyyy-MM-dd HH:mm:ss-->
    <add key="LastPassTime" value="2017-08-03 12:59:30" />
    <!--实时处理超时时长，当通行时间据当前时间超过该时长时，不需要实时处理该数据(毫秒）-->
    <add key="RealTimeout" value="3000" />
    <!--重发次数-->
    <add key="MaxSendTimes" value="3" />
    <!--合格颜色(R,G,B)-->
    <add key="ResultOK" value="255,0,0" />
    <!--超标颜色(R,G,B)-->
    <add key="ResultFAIL" value="255,0,0" />
    <!--无信息颜色(R,G,B)-->
    <add key="ResultNOINFO" value="255,0,0" />
    <!--异常颜色(R,G,B)-->d
    <add key="ResultError" value="255,0,0" />
    <!--图片存储路径（带\)-->
    <add key="ImagePath" value="d:\Images\" />
    <!--网络测速时服务器地址-->
    <add key="ServerIP" value="202.103.24.68" />    
    <!--网络测速时标准带宽Kb-->
    <add key="StardardBandwidth" value="128" />
    <!--LED显示窗口的位置-->
    <add key="LEDTop" value="0" />
    <add key="LEDLeft" value="720" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
